@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
body {
    direction: rtl;
    opacity: 1;
    animation: 1.5s ease-out 0s 1 fadeIn;
    animation-fill-mode: both;
    background: url('kelimet.png') no-repeat fixed center center;
}

/* Hover over manu items create a shadow*/
.nav-link:hover {
    text-decoration: underline;
    text-shadow: 2px 2px 5px;
}
/* Alpha background of navbar is really low*/
.navbar, .navbar-nav, .nav-itme, .navbar-expand-sm {
    background-color: rgba(250, 250, 250, 0.5);
}

/* navbar items centralized*/
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
    float:none;
}
