<!DOCTYPE html>
<html lang="fr">
  {% include 'header.html.j2' %}

  <body>
    <div class="container">
      {% include 'menu.html.j2' %}
      <a href="https://github.com/brahimlippe/Lyrics/releases/download/latest/app-release.apk">
        <p>رابط تنزيل البرنامج أندرويد</p>
      </a>
      <form class="my-3" action="/contact" style="opacity:0.5" method="post">
        <div class="form-row my-3">
          <input class="form-control" type="email" placeholder="البريد الإلكتروني" name="from" required/>
        </div>
        <div class="form-row my-3">
          <textarea class="form-control" name="message" placeholder="الرسالة" rows="8" required></textarea>
        </div>
        <div class="form-row my-3">
          <input type="submit" class="btn btn-secondary float-left" value="أرسل" />
        </div>
      </form>
    </div>
  </body>

</html>
