<!DOCTYPE html>
<html lang="fr">
  {% include 'header.html.j2' %}

  <body>
    <div class="container">
      {% include 'menu.html.j2' %}

  <div class="alert alert-info alert-dismissible fade show" role="alert">
  <p class="text-center">إملأ الخانات التالية لزيادة أغنية. من المستحسن أن لا تكتب أبيات طويلة حتى يسهل قراءتها في شاشات صغيرة.</p>
  </div>
  <form style="opacity:0.5" class="mx-auto" action="" method="post">
    <div class="form-row my-3 form-group">
      <input class="form-control" type="text" placeholder="إسم" name="title" value="{{ title }}" required/>
    </div>
    <div class="form-row my-3 form-group">
      <textarea class="form-control" name="lyrics" placeholder="كلمات" rows="15" cols="80" required>{{ lyrics }}</textarea>
    </div>
    <div class="form-row my-3 form-group">
          <input type="submit" class="btn btn-secondary float-left" value="أرسل" />
    </div>
  </form>
    </div>
  </body>
</html>
